.buttonDownload{
    width:26vw;
    height:11vh;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:2rem;
    background: #00324E;
    mix-blend-mode: normal;
    border: 1px solid #002671;
    border-radius: 3vw;
    padding:1vh;
  
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;

    &:hover{
        background: #00a2ff;
        transform: scale(1.06);
        transition: all 333ms;
        cursor: pointer;
        box-shadow: #000c1d 0px 3px 16px;
    }
    &:active{
        background:#0067a3;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    /* .notebookImage{
      width:600px;
      height: 400px
    } */
    .buttonDownload{
      gap:1rem;
      font-size: 10px;
    }
  }