.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-image: url("/background-geladocompress.webp");
  background-repeat:no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.wrapperDownloadArea{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  gap: 18px;
  padding-left:115px;
}

.logo,
.notebookImage{
  position: relative;
}

.notebookImage{
  width:60%;
  height:30%;
  top: 20px
}

.footer{
  height: 50rem
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  /* .notebookImage{
    width:600px;
    height: 400px
  } */
  .buttonDownload{
    gap:1rem;
    font-size: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo{
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
